<div class="d-flex justify-content-between align-items-center alert alert-secondary text-center" role="alert">
    <h4>
        Hello <span class="text-black">@User?.Identity?.Name</span>, this is a main page!
    </h4>
</div>