@{
    string userId = ViewData["userId"]?.ToString();
    string resetToken = ViewData["resetToken"]?.ToString();
}
@if (ViewData["msg"] is null)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Reset Password</h2>
                <form method="post" asp-controller="Password" asp-action="ResetPassword">
                    <input type="hidden" name="userId" value="@userId" />
                    <input type="hidden" name="resetToken" value="@resetToken" />
                    <div class="mb-3">
                        <label for="password" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="password" name="newPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger mt-2" role="alert"></div>
                </form>
            </div>
        </div>
    </div>
}else{
    <div class="alert alert-danger" role="alert">
        @ViewData["msg"]?.ToString()
    </div>
}